<html>
    <head>
        {{>header}}
    </head>
    <body>
        <h1>{{title}}</h1>
                <div class="text-right">
        <a href="/new" class="btn btn-primary">
            Write in the guestbook
        </a>
        <div class="text-right" style="margin-bottom: 1em;">
{{^user}}
<a id="login" href="/register" class="btn btn-primary">
Register
</a>
<a id="login" href="/login" class="btn btn-primary">
Sign in
</a>
{{/user}}

{{#user}}
<a id="logout" href="/logout" class="btn btn-primary">
Log out
</a>
{{/user}}
</div>
        </div>
        {{#entries}}
            <div>
                <h4>{{subject}}</h4>
                <p>
                    {{contents}}
                </p>
                <div class="card-footer">
                <p>Written by <a href="/posts/{{author}}">{{author}}</a>, on {{published}}</p>
                </div>
            </div>
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </body>
</html>